/* You can add global styles to this file, and also import other style files */
.center-div {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    position: relative;
}